@model Plan_io_T.Models.ArduinoData

@{
    ViewData["Title"] = "Создание";
}

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</asp:Content>

<div class="container">
    <main role="main" class="pb-3">
        <h1>Создание</h1>

        <h4>ArduinoData</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Humidity" class="control-label"></label>
                        <input asp-for="Humidity" class="form-control" />
                        <span asp-validation-for="Humidity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Temperature" class="control-label"></label>
                        <input asp-for="Temperature" class="form-control" />
                        <span asp-validation-for="Temperature" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="co2Concentration" class="control-label"></label>
                        <input asp-for="co2Concentration" class="form-control" />
                        <span asp-validation-for="co2Concentration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="coConcentration" class="control-label"></label>
                        <input asp-for="coConcentration" class="form-control" />
                        <span asp-validation-for="coConcentration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="lpgConcentration" class="control-label"></label>
                        <input asp-for="lpgConcentration" class="form-control" />
                        <span asp-validation-for="lpgConcentration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="smokeConcentration" class="control-label"></label>
                        <input asp-for="smokeConcentration" class="form-control" />
                        <span asp-validation-for="smokeConcentration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Создать" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Вернуться ко списку</a>
        </div>
    </main>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
