* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(../media/images/form_background.png);
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

form > div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

label {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: 500;
    color: white;
}

input {
    width: 710px;
    height: 64px;
    padding-left: 16px;
    border: 6px solid #00926B;
    text-decoration: none;
    background: none;
    outline: none;
    font-size: 24px;
    font-weight: 300;
    color: white;
}

input:focus {
    background-color: rgba(151, 201, 188, 0.3);
    transition: 0.5s;
}

.login__button {
    display: block;
    margin-top: 60px;
    padding: 10px 0px;
    text-align: center;
    height: max-content;
    border: 4px solid #00926B;
    border-radius: 16px;
    color: white;
    text-decoration: none;
    background: none;
    font-size: 24px;
    font-weight: 500;
    width: 270px;
    height: 56px;
}

.login__button:hover {
    background-color: rgba(151, 201, 188, 0.3);
    transition: 0.5s;
}

@media screen and (max-width: 800px) {
    label {
        font-size: 18px;
    }

    input {
        width: 350px;
        font-size: 18px;
        height: 42px;
        border: 2px solid #00926B;
    }

    .login__button {
        border: 2px solid #00926B;
        width: 240px;
        font-size: 18px;
    }

    h1 {
        font-size: 32px;
        text-align: center;
    }
}
