@{
    ViewBag.Title = "Подключенная система";
}

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/footer.css' runat="server">
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/admin-sys.css'>
</asp:Content>

<div class="page__background"></div>
<header>
    <a class="page__header-logo" asp-controller="Home" asp-action="Index">Eco<span class="page__header-logo-2">(io)</span>T</a>
    <div class="page__header-nav">
        <a asp-action="Dashboard" asp-controller="Data">Панель управления</a>
        <p class="page__header-cur">Система</p>
    </div>
    <div class="page__header-user" style="cursor: pointer;" onclick="dropdown()">
        <div class="page__dropdown" id="page__dropdown">
            @if (User.IsInRole("admin")) {
                <a class="page__dropdown-out" asp-controller="Users" asp-action="Index">Войти в панель администрации</a>
            }
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input class="page__out-button" type="submit" value="Выйти из аккаунта" />
            </form>
        </div>
        <div class="page__menu">
            @if (User.IsInRole("admin")) {
                <p class="page__menu-name">Администратор</p>
            } else {
                <p class="page__menu-name">Пользователь</p>
            }
            <p class="page__menu-mail">@User.Identity.Name</p>
        </div>
        <div>
            @if (User.IsInRole("admin")) {
                <div class="page__header-avatar">SU</div>
            } else {
                <div class="page__header-avatar" style="background-color: #00926B;">CU</div>
            }
        </div>
    </div>
</header>

<div class="page__menu-background" onclick="hideBackground()"></div>

<div class="page__main-content">

    <div class="page__main-card">
        <div>
            <p>Свойства подключения к системе</p>
            <div class="page__main-card-rating">
                <div class="con_status">На основе данных мониторинга</div>
            </div>
        </div>
        <div class="page__main-card-par">
            <h1>Параметры подключения</h1>
            <div class="page__main-card-par-all">
                <div class="page__main-card-par-sep">
                    <div class="page__main-card-par-sep-h">протокол</div>
                    <div class="page__main-card-par-sep-data">MQTT</div>
                </div>
                <div class="page__main-card-par-sep">
                    <div class="page__main-card-par-sep-h">узлы</div>
                    <div class="page__main-card-par-sep-data">3</div>
                </div>
                <div class="page__main-card-par-sep">
                    <div class="page__main-card-par-sep-h">брокер</div>
                    <div class="page__main-card-par-sep-data">Mosquitto</div>
                </div>
                <div class="page__main-card-par-sep">
                    <div class="page__main-card-par-sep-h">сеть</div>
                    <div class="page__main-card-par-sep-data">Qwerty_IoT</div>
                </div>
            </div>
        </div>
    </div>

    <div class="page__small-card">
    </div>

</div>

<footer class="page__footer">
    <div class="footer__socials">
        <div>
            <div class="footer__vk-icon"></div>
            <a class="landing__link" href="https://www.vk.com/funny_yellow_dog">vk.com/funny_yellow_dog</a>
        </div>
        <div>
            <div class="footer__email-icon"></div>
            <div class="landing__link">example@mail.ru</div>
        </div>
    </div>
    <div class="footer__about">
        <div>Plan(io)t, 2020</div>
    </div>
</footer>

@section Scripts{
    <script src="~/js/jQuery.js"></script>
    <script src="~/js/dropdown.js"></script>
    <script>
        function ajaxR() {
            $.ajax({
                url: "IsMqttConnected",
                headers: {
                    'Accept': 'application/json, text/javascript, /, q=0.01',
                    'X-Requested-With': 'XMLHttpRequest',
                    'Content-Type': 'application/json'
                },
                type: "GET",
                success: function (data) {
                    if (data == "true") document.querySelector(".con_status").textContent = "Подключено к MQTT-брокеру";
                    else document.querySelector(".con_status").textContent = "Отсутствует подключение к MQTT-брокеру";
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        ajaxR();
        setInterval(ajaxR, 1000 * 5);
    </script>
}